<p>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= review.description %>
</p>

<% if current_user == review.user %>

  <button>
    <%= link_to 'Delete Review', [review.product, review],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </button>
<% end %>